In [1]:
import pandas as pd # type: ignore

df = pd.read_csv("Height.csv")
print(df.head(5))

   OBJECTID      PLAN_NO BHC_TYPE BHC_VALUE   SHAPE_Leng   Shape__Area  \
0         1  S/I-TCTC/24     BHCB       130  1109.257196  38233.433594
1         2  S/I-TCTC/24     BHCB       140   442.870146  13168.863281
2         3  S/I-TCTC/24     BHCB        55   407.856180   6813.496094
3         4  S/I-TCTC/24     BHCB        75   635.446624  21321.843750
4         5  S/I-TCTC/24     BHCB        70   501.416251  11763.351562

   Shape__Length
0    1201.193084
1     479.878730
2     442.505809
3     689.219388
4     542.916887

In [2]:
df.loc[df['SHAPE_Leng'] < 500]

,OBJECTID,PLAN_NO,BHC_TYPE,BHC_VALUE,SHAPE_Leng,Shape__Area,Shape__Length
1,2,S/I-TCTC/24,BHCB,140,442.870146,13168.863281,479.878730
2,3,S/I-TCTC/24,BHCB,55,407.856180,6813.496094,442.505809
5,6,S/I-TCTC/24,BHCB,135,450.739520,11697.886719,488.752942
6,7,S/I-TCTC/24,BHCS,1,137.706036,1187.433594,149.007164
7,8,S/I-TCTC/24,BHCS,2,60.510836,270.832031,65.511404
...,...,...,...,...,...,...,...
6175,6176,S/K20/WKCD/2,NBA,NBA,239.966783,1520.966797,260.582967
6176,6177,S/K20/WKCD/2,NBA,NBA,124.285664,508.382812,134.941329
6177,6178,S/K20/WKCD/2,NBA,NBA,233.869141,1023.021484,254.007628
6178,6179,S/K20/WKCD/2,NBA,NBA,246.324199,1904.414062,267.454403
6179,6180,S/K20/WKCD/2,NBA,NBA,128.851123,870.082031,139.816032